*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;color:black;}
body{
	font-family: tahoma,宋体 !important;
	font-size: 12px;
	line-height: 1.5;
	color: #484848;
	margin:0 auto;
	min-width: 960px;
}
/*最顶部*/
#topbar{
	width:100%;
	background:#f1f1f1;
	height:24px;
	color:#666666;
	border-bottom: 1px solid #e2e2e2;
	line-height: 24px;
}
#topbar #topbarsize{
	width:960px;
	margin:0 auto;
}
#topbar #topbar_left{
	float:left;
}
#topbar #topbar_left li{
	float:left;
	padding-left: 15px;
	margin-left:10px;
	cursor: pointer;
}
#topbar #topbar_left li{
	background: url(../images/topbar_sprite150428.png) no-repeat;
}
#topbar #topbar_left li:nth-of-type(1){
	background-position: 0px 7px ;
}
#topbar #topbar_left li:nth-of-type(2){
	background-position: 0px -37px ;
}
#topbar #topbar_left li:nth-of-type(3){
	background-position: 0px -85px ;
}
#topbar #topbar_left li:hover a{
	text-decoration: underline;
}
#topbar #topbar_left li:nth-of-type(1):hover{
	background-position: 0 -13PX;
}
#topbar #topbar_left li:nth-of-type(2):hover{
	background-position: 0 -57PX;
}
#topbar #topbar_left li:nth-of-type(3):hover{
	background-position: 0 -105PX;
}
#topbar #topbar_right{
	float:right;
}
#topbar #topbar_right>div{
	float: left;
	padding:0 10px;
}
#topbar #topbar_right .open{
	position: relative;
}
#topbar #topbar_right .open .down{
	padding: 5px;
	text-align: center;
	z-index: 10;
	background: #fff;
}
#topbar #topbar_right .open .down b:nth-of-type(1){
	color:#ff6600;
	font-weight: 900;
	font-size:14px;
}
#topbar #topbar_right .open .down b:nth-of-type(2){
	font-size:14px;
}

#topbar #topbar_right{
	float:right;
	padding-left:20px;
	margin-right:40px;
}
#topbar #topbar_right  span{
	display:inline-block;
	width:6px;;
	height:4px;
	margin-left:5px;
	background: url(../images/topbarright.png) left -27px no-repeat;
}
#topbar #topbar_right .open{
	position: relative;
}
#topbar #topbar_right .open p{
	position: absolute;
	left:-14px;
	box-shadow: 2px 2px 5px #0003;
	width:80px;
}
#topbar #topbar_right .open>div{
	position: absolute;
	left:-45px;
	width:118px;
}
#topbar #topbar_right .open:hover span{
	transition: all 0.5s;
	transform: rotate(180deg);
	transform-origin: 50% 25% 0px;
}
#topbar #topbar_right>div:nth-of-type(2):hover{
	text-decoration: underline;
}
#topbar #topbar_right .open:hover{
	background:white;
	border-bottom:1px solid #fff;
}
#topbar #topbar_right .open>div .relation a{
	background-color: #4f9ee7;
	text-align: center;
	color:#fff;
	padding:4px;
}
#topbar #topbar_right .open:hover .down{
	box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
	border-top: 1px solid #fff;
}
#topbar #topbar_right .open .down{
	padding:5px;
	text-align: center;
	display:none;
	z-index: 10;
	background: #fff;
}
#topbar #topbar_right .open .down div:nth-of-type(3){
	background: #f60;
	color:#fff;
	margin-top:5px;
	cursor: pointer;
}
#topbar #topbar_right .open:hover .down{
	display:block;
}

#topbar #topbar_right .open .down>a{
	text-decoration: underline;
	color:blue;
	margin:3px;
	cursor: pointer;
}
#topbar #topbar_right .open .down>a:hover{
	text-decoration: none;
}
#topbar #topbar_right .unopen:hover{
	text-decoration: underline;
}
/*logo*/
#logo{
	margin:0 auto;
	width:980px;
	padding:20px 0;
	overflow: hidden;
}
#logo img{
	float:left;
}
#logo p{
	border-left: 1px solid #D9D9D9;
	float: left;
	font: 24px/49px microsoft yahei;
	margin: 5px 0 0 25px;
	padding-left: 26px;
}
/*底部图片*/
#footer{
	width:960px;
	overflow: hidden;
	padding:30px 0 10px;
	text-align: center;
	margin:0 auto;
}
#footer>a{
	background: url(../images/certi20150925.png) no-repeat;
	width:130px;
	height:45px;
	display: inline-block;
}
#footer>a:nth-of-type(1){
	background-position: left -92px; 
	width:116px;
}
#footer>a:nth-of-type(2){
	background-position: left -276px;
}
#footer>a:nth-of-type(3){
	background-position: left -326px; 
}
#footer>a:nth-of-type(4){
	background-position: left -376px;
}
#footer p{
	font-size: 12px;
	padding: 10px 0 0 10px;
	color:#484848;
}
#footer p a{
	padding: 3px;
}
#footer p a:hover{
	text-decoration: underline;
}
/*中间注册部分*/
#mainbg{
	background: #F9F9F9;
	width:100%;
	overflow: hidden;
	padding:44px 0;
}
#main{
	margin:0 auto;
	width:960px;
	overflow: hidden;

}
#main>div{
	margin-bottom: 20px;
	padding-left:250px;
	
}
#main>div>b{
	font-weight: 500;
	text-align: center;
	display: inline-block;
	width:75px;
}
#main>div input{
	height: 30px;
	line-height: 30px;
	border: 1px solid #cfcfcf;
	background: #F9F9F9;
	overflow: hidden;
	width: 255px;
	text-indent: 5px;
}
#main>div em{
	display:none;
	color:#f60;
	font-style:normal;
	padding-left:20px;
	background:url(../images/icon_logoin_s.png) 0 -36px no-repeat
}
#main>div:nth-of-type(4) input{
	width: 130px;
	text-indent: 5px;
	overflow: hidden;
	vertical-align: middle;
	margin-right: 5px;
	text-align: center;
}
#main>div:nth-of-type(4) p{
	display: inline-block;
	width:70px;
	height:28px;
	line-height: 30px;
	border:1px solid #666;
	font-size:20px;
	text-align:center;
	margin-top:3px;
	vertical-align: middle;
}
#main>div:nth-of-type(4) a{
	color:#666;
	padding-left:3px;
	vertical-align: middle; 
	cursor: pointer;
}
#main button{
	border:0; 
	margin-left: 300px;
	padding:8px 70px;
	width: 250px;
	text-align: center;
	border: 1px solid #868686;
	background: #E1E1E1;
	cursor: pointer;
}
